################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/win-x64/.vs/win-x64/v15
/win-x64/.vs/VSWorkspaceState.json
/win-x64/.vs/slnx.sqlite
/win-x64/.vs/ProjectSettings.json
