################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/win-x64/.vs/win-x64/v15
