Source: zeroc-ice
Version: 3.7.2
Description: Comprehensive RPC framework with support for C++, C#, Java, JavaScript, Python and more. https://zeroc.com
Build-Depends: bzip2, expat, zeroc-mcpp, openssl