Source: zeroc-ice
Version: 3.7.3
Description: Comprehensive RPC framework with support for C++, CSharp, Java, JavaScript, Python and more.
Build-Depends: bzip2, expat, mcpp, lmdb

Feature: cpp11
Description: c++11 support for Ice
Build-Depends: openssl
